---

---

@import "minima";

.site-header{
        background-image: url('/assets/Img/dandelion.jpg');
        background-color: rgba($color: #000000, $alpha: .17);
        background-blend-mode: multiply;
        background-size:cover ;
        padding-bottom: 30px;        border-bottom: 2px solid white;    
        border-top: 0;
}

.p-name{
    display: none;
}

.site-footer {
    background-color:#141414;
    padding-top: 1rem;
    padding-bottom: 0;
  
}

.site-footer a:hover{
    color:$hover-color;
}

.rss-subscribe{
    display: none;
}

.image{
    padding: 4px;
    border: 1px solid black;
}

.site-title, .site-title:visited, .site-title:hover{
    color: white;
    margin-top: 5px;
    font-size: 40px;
    text-decoration: none;
    font-family:'Pacifico', cursive;
}


